<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title_head %}
        <title>Home</title>
        {% endblock title_head %}
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static 'Base/css/styles.css' %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2 fixed-top">
            <div class="container">
                <a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>
                
                <a class="navbar-brand" href={% url 'lista-biologia' %}>Biología</a>
                <a class="navbar-brand" href={% url 'lista-fisica' %}>Fisica</a>
                <a class="navbar-brand" href={% url 'lista-quimica' %}>Química</a>
                <a class="navbar-brand" href={% url 'lista-otros' %}>Otros</a>
                
                {% if request.user.is_authenticated %}
                {% if request.user.informacionextra.avatar %}
                <img src={{request.user.informacionextra.avatar.url}} alt="" height="30px">
                {% endif %}
                <a href={% url 'usuarios:editar_perfil' %}> {{request.user.username}} </a>
                <a class="btn btn-primary" href={% url 'usuarios:logout' %}>Cerrar sesion</a>
                {% else %}
                <a class="btn btn-primary" href={% url 'usuarios:login' %}>Iniciar sesion</a>
                <a class="btn btn-primary" href={% url 'usuarios:registro' %}>Regístrate</a>
                {% endif %}
               
                
                
            </div>
        </nav>

        
        {% block probando %}
        
        <!-- Inicio -->

        <br>
        <br>
        <br>
        <section id="Inicio" class="text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
          <div class="container text-center">
            <div class="">
                <div>
                    <h2>Bienvenido a <span class="text-primary">Mundo ciencia</span></h2>
                </div>
            </div>
        </div>
        
        </section>    
        

            <!-- Nuevos post -->

    <section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="">
                <div class="text-center">
                    <p class="lead my-4">
                      Comparte tu conocimiento al mundo
                    </p>
                    <a href="{% url 'nuevo' %}"><button type="submit" class="btn btn-primary">Agregalo acá</button></a>
                </div>
            </div>
        </div>
    </section>

        {% endblock probando %}

        
        {% block contenido  %}
        {% endblock contenido %}
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'acerca_de_mi' %}">About</a></li>
                            
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static 'Base/js/scripts.js' %}></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>