{% extends 'base.html' %}

{% block probando %}

<br>
<br>
<br>
<br>
<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3"></div>
           
           <div class="col">
             <div class="">
                 <div class="text-center">
                    <p>Hola! Soy Mauricio Castro, actualmente estoy en el proceso de finalizar la carrera de Bioquímica. Trabajo de data analyst, por eso me he interesado por la programación, que si bien me ha dado muchos dolores de cabeza es algo que realmente me gusta ya que tiene mucho de resolución de problemas y eso es algo que para mi esta demás.</p>
                 </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock probando %}