{% extends 'base.html' %}

{% block title_head %}
    <title>Detalle</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>

<div class="container">

    <p><h2>{{biología.titulo}}</h2></p>
    {% if biología.ImagenPost %}
        <p><img src="{{biología.ImagenPost.url}}" alt=""></p>
    {% endif %}
    <p>Autor: {{biología.usuario}}</p>
    <p>Descripción: {{biología.descripcion}}</p>
    <p>Fecha de publicacion: {{biología.FechaPublicacion}}</p>

</div>

<br>

<div class="container">

    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not biología.comentarios.all %}
        Aún no hay comentarios sobre este post
    {% else %}
        {% for comentario in biología.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' biología.pk %}">Agrega un Comentario</a>
    </div>
    
</div>

<br>

{% endblock probando %}