{% extends 'base.html' %}

{% block title_head %}
    <title>Borrar</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% if user.id == biología.usuario.id %}
<div class="container text-center">

<form method="post">{% csrf_token %}
    Estás seguro que deseas borrar el post {{biología.titulo | safe}}?
    <br>
    <br>
    <p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </p>
</form>

</div>
{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock probando %}