{% extends 'base.html' %}

{% block title_head %}
    <title>Detalle</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>

<div class="container">

    <p><h2>{{fisica.titulo}}</h2></p>
    {% if fisica.ImagenPost %}
        <p><img src="{{fisica.ImagenPost.url}}" alt=""></p>
    {% endif %}
    <p>Autor: {{fisica.usuario}}</p>
    <p>Descripción: {{fisica.descripcion | safe}}</p>
    <p>Fecha de publicacion: {{fisica.FechaPublicacion}}</p>

</div>

<br>

<div class="container">

    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not fisica.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in fisica.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' fisica.pk %}">Agrega un Comentario</a>
    </div>
    
</div>

<br>

{% endblock probando %}