{% extends 'base.html' %}

{% block title_head %}
    <title>Biologia</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>

<div class="container text-center">
    <h1>Biología</h1>
</div>

<br>
<div class="container text-center">
    <div class="row">
            {% for biología  in biologías %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                {{biología.titulo}}
                <br>
                <br>
                <a href="{% url 'detalle-biologia' biología.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == biología.usuario.id %}
                <a href="{% url 'editar-biologia' biología.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'eliminar-biologia' biología.id %}"><i class="bi bi-trash text-danger"></i></a>
                {% if biología.ImagenPost %}
                <img src="{{biología.ImagenPost.url}}" class="img-thumbnail" width="120px">
                {% endif %}
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock probando %}