{% extends 'base.html' %}

{% block title_head %}
    <title>Detalle</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>

<div class="container">

    <p><h2>{{otros.titulo}}</h2></p>
    {% if otros.ImagenPost %}
        <p><img src="{{otros.ImagenPost.url}}" alt=""></p>
    {% endif %}
    <p>Autor: {{otros.usuario}}</p>
    <p>Descripción: {{otros.descripcion | safe}}</p>
    <p>Fecha de publicacion: {{otros.FechaPublicacion}}</p>

</div>

<br>

<div class="container">

    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not otros.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in otros.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' otros.pk %}">Agrega un Comentario</a>
    </div>

</div>

<br>

{% endblock probando %}