{% extends 'base.html' %}

{% block title_head %}
    <title>Detalle</title>
{% endblock title_head %}

{% block probando %}

<br>
<br>
<br>

<div class="container">

    <p><h2>{{química.titulo | safe}}</h2></p>
    {% if química.ImagenPost %}
        <p><img src="{{química.ImagenPost.url}}" alt=""></p>
    {% endif %}
    <p>Autor: {{química.usuario}}</p>
    <p>Descripción: {{química.descripcion | safe}}</p>
    <p>Fecha de publicacion: {{química.FechaPublicacion}}</p>

</div>

<br>

<div class="container">

    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not química.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in química.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje | safe}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' química.pk %}">Agrega un Comentario</a>
    </div>

</div>

<br>

{% endblock probando %}